# exclude files and directories to increase the build’s performance,
# since docker will send all file in the specified context to it's temp build directory and this will invoke enormous copy operations.

# general
.git
.idea
.vscode
.DS_Store
.pytest_cache

# backend
backend/test
*/**/__pycache__
*/**/*.pyc

# Exclude dirs node_modules and dist
*/**/node_modules
